server:
  persistentVolume:
    enabled: false
  service:
    type: NodePort
    nodePort: 30090

alertmanager:
  persistentVolume:
    enabled: false

pushgateway:
  enabled: false

nodeExporter:
  enabled: false

kubeStateMetrics:
  enabled: false

serverFiles:
  prometheus.yml:
    scrape_configs:
      
      - job_name: 'ecommerce-app-pods'
        static_configs:
          - targets: ['localhost:9090']
      
      
      - job_name: 'ecommerce-app'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - ecommerce
        relabel_configs:
          
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          
         
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            target_label: __address
            regex: ([^:]+)(?::\d+)?
            replacement: $1:5000
          
          
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path
            regex: (.+)
          
         
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
          
          
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
          
          
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: replace
            target_label: app
        metrics_path: '/metrics'
        scrape_interval: 15s



        